<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--All permissions required for positioning: -->
    <!-- Get carrier information, used to support carrier-related interfaces -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Used for network-based positioning -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Used for GPS positioning -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Used to access wifi network information, which is used for network-based positioning -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- This permission is used to obtain wifi scan results, which are used for network-based positioning -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- Access the network; positioning requires internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.mapxus.positioningsample.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.mapxus.positioningsample.PositionActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--setup your appid and secret-->
        <meta-data
            android:name="com.mapxus.api.v1.appid"
            android:value="${appid}" />
        <meta-data
            android:name="com.mapxus.api.v1.secret"
            android:value="${secret}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name="com.mapxus.positioningsample.BaseActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>